#/items

<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image url</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.image_url %></td>
        <td><%= item.user %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>








<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">
  <% @items.each do |item| %>
    <div class="col">
      <div class="card border-warning mb-3 cards" style="max-width: 20rem;">

        <div class="card-header">
          <h4><%= item.title %></h4>
        </div>

        <div class="card-body">
          
          <div class="flex-container img">
            <%= item.image_url %>
          </div>

          <div class="flex-container text">
            <h4 class="card-title"><%= item.price %></h4>
            <p class="card-text"><%= item.description %></p>
            <%= link_to "View random user", landing_path(item.id), class: 'btn btn-sm btn-outline-secondary'%>
            <%= link_to "Modifier", edit_item_path(item.id), class: 'btn btn-sm btn-outline-secondary'%>
            <%= link_to "User", edit_item_path(item.id), class: 'btn btn-sm btn-outline-secondary'%>
            <%= item.user %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>


<%= button_to "New Item", new_item_path, :method => "get" %>



<STYLE>

.card-body {
  
}






</STYLE>


<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <% @items.each do |item| %>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>

            <div class="card-body">
              <p class="card-text"><%= item.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <%= link_to "View", landing_path(item.id), class: 'btn btn-sm btn-outline-secondary'%>
              
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      <% end %>
        
    </div>
</div>